# Virtual Environment
.venv/
__pycache__/
*.pyc

discovery-*.md

# Discovery Results (Sensitive Metadata)
scripts/discovery/results/
scripts/discovery/active_regions.txt

# Local Cache & Temp files
wolkfind/results/*/cache/
diag_metrics.py
diag_metrics_ddb.py

# Environment / Credentials
.env
.aws/

# Go
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with Lit
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
go.work.sum

# Project specific Go binary
wolkfind-go/wolkfind-go
wolkfind-go/wolkfind
wolkfind-go/wolkfind-test
wolkfind
wolkfind-test
